body {
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
}

nav {
  background-color: #333;
  /* color: #1C95D7; */
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

nav ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

nav li {
  margin: 0 10px;
}

nav a {
  color: #1c95d7;
  text-decoration: none;
}

main {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

h1 {
  margin-top: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  margin-bottom: 20px;
  padding: 10px;
}

h2 {
  margin-top: 0;
}

p {
  margin-bottom: 0;
}

h1 {
  font-size: 36px;
  font-weight: bold;
  margin-top: 0;
  text-align: center;
}

p {
  font-size: 18px;
  line-height: 1.5;
  margin-bottom: 20px;
  text-align: center;
}

.add-delete-buttons {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.add-button,
.delete-button,
.update-button {
  width: 100px;
  height: 40px;
  border-radius: 5px;
  background-color: purple;
  color: white;
  font-size: 16px;
  font-weight: bold;
  margin: 0 10px;
}

.start-workout {
  display: block;
  margin: 0 auto;
  width: 150px;
  height: 50px;
  border-radius: 5px;
  background-color: purple;
  color: white;
  font-size: 16px;
}

.update-button {
  display: block;
  margin: 0 auto;
  background-color: green;
  color: white;
  font-size: small;
}

.delete-button {
  display: block;
  margin: 0 auto;
  background-color: #e52b50;
  color: white;
  font-size: small;
}

body {
  background-image: url("https://images.unsplash.com/photo-1502904550040-7534597429ae?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1700&q=80");
  background-size: cover;
}