body{
    font-family: Arial, Helvetica, sans-serif;
    background-image: linear-gradient(rgba(0,8,51,0.9), rgba(0,8,51,0.9)), url(images/gym.webp);
    background-size: cover;
}


.box{
    width: 410px;
    height: 510px;
    background-color: rgba(52, 58, 88, 0.9);
    padding: 2%;
    margin: auto;
    margin-top: 80px;
    text-align: center;
    border-radius: 5%;
}

.login{
    width: 100%;
    font-style: normal;
    color: aquamarine;
}

#firstname{
    border: 0;
    width: 290px;
    height: 45px;
    background: rgba(0,8,51,0.9);
    backdrop-filter: blur(3px) saturate(160%);
    color: aquamarine;
    font-size: 15px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    cursor: pointer;
}

#lastname{
    border: 0;
    width: 290px;
    height: 45px;
    background: rgba(0,8,51,0.9);
    backdrop-filter: blur(3px) saturate(160%);
    color: aquamarine;
    font-size: 15px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    cursor: pointer;
}

#username{
    border: 0;
    width: 290px;
    height: 45px;
    background: rgba(0,8,51,0.9);
    backdrop-filter: blur(3px) saturate(160%);
    color: aquamarine;
    font-size: 15px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    cursor: pointer;
}


#password{
    border: 0;
    width: 290px;
    height: 45px;
    background:rgba(0,8,51,0.9);
    color: aquamarine;
    font-size: 15px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    cursor: pointer;
}


#login-button{
    border: 0;
    width: 250px;
    /* border-radius: 5%; */
    height: 45px;
    background:rgba(0,8,51,0.9);
    color: aquamarine;
    font-size: 15px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    cursor: pointer;
}


.signup{
    color: aquamarine;
}
.signup:hover{
    text-decoration: underline;
    cursor: pointer;
}